section {
    padding: 150px 0;
}

header.masthead {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    position: absolute;
    top: 150px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.linha {
    display: flex;
}
  
.coluna {
    flex: 33.33%;
    padding: 5px;
}
  
.texto {
    text-align: center;
    color: #ffffff;
}
  
#stock {
    background-color: #353535;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        position: absolute;
        top: 300px;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  #registar {
    background-color: #424743;
    color: white;
    padding: 7px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-left: 400px;
  }
  
  #login_ {
      background-color:#424743;
      color: white;
      padding: 7px 15px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      margin-left: 100px;
    }
  
    #atua_ {
      position: absolute;
      margin: center center;
      background-color:#424743;
      color: white;
      padding: 7px 15px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  
  .regbtn {
    padding: 14px 20px;
    background-color: #4CAF50;
    }
  
  .login_btn {
      padding: 14px 20px;
    background-color: #4CAF50;
    }
  
  .atual_btn {
      padding: 14px 20px;
    background-color: #4CAF50;
    }
  
  .cancelbtn, .login_btn, .regbtn, .atual_btn {
    float: left;
    width: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #panel {
    display:none;
  }

  #conta_color {
      color: #fff;
      margin-top: -100px;
      margin-left: 600px;

  }

  